header ul{
    padding: 0;
    margin: 10px;
    text-align: left;
    background-color: #3e3b3b;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    height: 61px;
    opacity: 0.6;
}
header ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    list-style: none;
    display: inline-block;
    position: relative;
    top: 14px;
    margin: inherit;
}
header ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding: 10px;
    display: block;
    letter-spacing: 1px;
}
header ul li ul{
    display: none;
    position: absolute;
    top: 25px;
    right: -10px;
    z-index: 5;
    text-align: left;
    margin-right: 0;
}
header ul li ul li{
    display: block;
    cursor: pointer;
    background-color: #fff;
}
header ul li:hover ul{
    display: block;
}
header ul li i{
    cursor: pointer;
    padding: 10px;
    font-size: larger;
}

.logOutUl{
    width: 58px;
    height: 34px;
}
